<div class="footer">
  <h3> Este projeto foi desenvolvido com:</h3>
  <ul>
    <li> Nodejs</li>
    <li>Ejs</li>
    <li>Express</li>
    <li>Html</li>
    <li>Css</li>
    <li>Jest</li>
  </ul>
</div>
</body>

</html>